<div class="row">
    <div class="card mt-5 text-center" style="width: 18rem; margin: 0 auto;">
        <div class="card-body">
            <p class="card-text">Welcome To Solbeg</p>            
        </div>
    </div>
</div>
