<footer class="bg-dark paddingTop30 text-sans-serif">
  <div class="mt-4 pt-4 pb-4">
    <div class="row">
      <div class="col-sm-12 text-center text-uppercase">
        <h6 class="text-light">Copyright &copy; Manish</h6>
      </div>
    </div>
  </div>
</footer>